* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc;
}

.App {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #f8fafc;
  overflow: hidden;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  margin-top: 60px;
  width: calc(100vw - 250px);
  height: calc(100vh - 60px);
  transition: margin-left 0.3s ease-in-out;
  overflow: auto;
}

.main-content-collapsed {
  --content-offset: 0px;
  margin-left: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100vw;
  }
}
